.titans {
  display: flex;
  gap: 30px;   
  padding: 30px 0;
  z-index: 1;
}

.card-titan {
  align-items: center;  
  background-image: linear-gradient(45deg, #f2260755 15%,#e92b0e6d, #09a9b18d, #04847790);
  color: var(--cor-font);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #80bfe280;
  display: none;   
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 500px;
  padding: 20px;
}

/* Cards individuais */
.card-titan.active {
  display: block;
}

.card-titan img {  
  border-radius: 8px;
  box-shadow: 15px 15px 5px -15px var(--cor-font);
  display: block;
  height: 200px;
  margin: 10px auto; 
  margin-top: 10px;
  width: 200px;
}

.card-titan .tipo{
  align-items: center;
  display: flex;
  margin: 10px auto; 
  justify-content: center;
  padding: 10px;
}

.card-titan .detalhes {
  font-size: 14px;
  text-align: center;
}

.card-titan .descricao{
  height:100px;
  max-height: 150px;
  overflow-y: auto;
  padding:  0 10px;
  text-align: center;
}

/* Menu */
.list {
  max-width: 200px;  
}

.list .titan img {
  border-radius: 10px; 
  width: 18%;
}

.list .titan {
  align-items: center;
  background-color: var(--cor-btn);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  color: var(--cor-font);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 45px;
  padding: 0 5px;
  transition: 0.20 ease-in-out;
}

.list .titan:hover {
  background-color: var(--cor-btn-hover);
  transform: scale(1.05);
}

.list .titan span {
  padding-right: 20px;
}

/* Botão */
.saiba-mais {
  height: 30px;
  margin-top: 30px;
  text-align: center; 
}

.saiba-mais a { 
  background-color: var(--cor-btn); 
  border-radius: 5px; 
  color: var(--cor-font);
  padding: 10px 20px; 
  text-decoration: none; 
}

.saiba-mais a:hover {
  background-color: var(--cor-btn-hover); 
}