@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    /* Fonte Base */
    --font-base: 'Lato', sans-serif;

    --cor-btn: #115d6398; 
    --btn-fire: #d5621ae7; 
    --cor-bgcard: #1d9b7549; 
    --cor-btn-hover: #0f414ce7; 

        
    /* Cores Gerais e Outros Elementos */
    --bg-input: #1b1919ee;
    --border: #3ff1c74a;
    --cor-font: #f7f3f3;
   
    /* Transformação de Hover */
    --hover-transform-scale: 1.05;

    /* Scrollbar */
    --scrollbar-width: 15px;
    --scrollbar-thumb-color: #1b95a3;
    --scrollbar-track-color: #8caca8;
    --scrollbar-thumb-border: 3px solid #074a08;
    --scrollbar-thumb-border-radius: 20px;
}
