@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    --bg-card:#602f079a;
    --bg-footer:#79573cbb;
    --bg-input:#e66407aa;  
    --border:#6c5858; 
    --btn-fire:#d5621ae7;
    --cor-bg: #6c5858;
    --cor-btn: #441d11a9;
    --cor-btn-hover:#683816d5;
    --cor-bgcard: #4b1a079d;
    --cor-font: #f1e6e6;
    --font-base: 'VT323', sans-serif;
    /* Cores de Listagem */
    --list-bg: #555e68;
    --list-text-color: #f1e2e2;
  
    /* Outros */
    --hover-transform-scale: 1.05;

    /* Scrollbar */
    --scrollbar-width: 15px;
    --scrollbar-thumb-color: #787d88;
    --scrollbar-track-color: #b1b0a8;
    --scrollbar-thumb-border: 3px solid #836b42;
    --scrollbar-thumb-border-radius: 20px;
  }