body{
    background-image:url(/src/images/bg1.png);
    background-size:cover;
    color: var(--font-color);
    font-family: var(--font-base);
}

body::before {
    backdrop-filter: blur(2px);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    body {
        background-size: contain; /* Mantém a proporção da imagem dentro da área */
    }
}

@media (max-width: 750px) {
    body {
        background-size: cover;
    }
}

