body {
    background-image: url(/src/images/bg1.png);
    background-size: contain; /* Para telas maiores */
    color: var(--font-color);
    font-family: var(--font-base);
    font-size: 16px; /* Tamanho padrão */
}

body::before {
    backdrop-filter: blur(2px);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* Responsividade para telas maiores */
@media (min-width: 1200px) {
    body {
        background-size: contain;
    }
}

/* Responsividade para telas menores, como celulares */
@media (max-width: 750px) {
    body {
        background-size: cover; /* Ajusta o background para cobrir a tela */
        font-size: 14px; /* Diminui o tamanho da fonte */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; /* Fonte ainda menor para telas muito pequenas */
    }
}
